/gen/
*.tmp
*.pyc
*.pyi
__pycache__
.*.swp
.*.swo
*.os
*.o
*.a

test_runner

libmessaging.*
libmessaging_shared.*
services.h
.sconsign.dblite
libcereal_shared.*
.mypy_cache/

capnp-stub-generator/
car.py
custom.py
legacy.py
log.py
maptile.py
